# # Plugins

[[mgr.prepend_keymap]]
on   = [ "u" ]
run  = "plugin restore"
desc = "Restore last deleted files/folders"

[[mgr.prepend_keymap]]
on   = [ "U" ]
run  = "plugin restore -- --interactive"
desc = "Restore last deleted files/folders(Interactive)"

[[mgr.prepend_keymap]]
on   = [ "R" ]
run  = "plugin recycle-bin"
desc = "Open Recycle Bin menu"

[[mgr.prepend_keymap]]
on   = [ "m", "a" ]
run  = "plugin archivemount mount"
desc = "Mount selected archive"

[[mgr.prepend_keymap]]
on   = [ "m", "u" ]
run  = "plugin archivemount unmount"
desc = "Unmount and save changes to original archive"

[[mgr.prepend_keymap]]
on   = [ "c", "m" ]
run  = "plugin chmod"
desc = "Chmod on selected files"

[[mgr.prepend_keymap]]
on  = "M"
run = "plugin mount"

# [[mgr.prepend_keymap]]
# on = ["g", "o"]
# run = "plugin duckdb -open"
# desc = "open with duckdb"

# [[mgr.prepend_keymap]]
# on = ["g", "u"]
# run = "plugin duckdb -ui"
# desc = "open with duckdb ui"

[[mgr.prepend_keymap]]
on = ["g", "s"]
run = "shell tmux-sp-s"
desc = "Split pane"

# [[mgr.prepend_keymap]]
# on = ["g", "v"]
# run = "shell tmux-sp-v"
# desc = "Split pane vertically"

[[mgr.prepend_keymap]]
on   = [ "c", "a", "a" ]
run  = "plugin compress"
desc = "Archive selected files"

[[mgr.prepend_keymap]]
on   = [ "c", "a", "p" ]
run  = "plugin compress -p"
desc = "Archive selected files (password)"

[[mgr.prepend_keymap]]
on   = [ "c", "a", "h" ]
run  = "plugin compress -ph"
desc = "Archive selected files (password+header)"

[[mgr.prepend_keymap]]
on   = [ "c", "a", "l" ]
run  = "plugin compress -l"
desc = "Archive selected files (compression level)"

[[mgr.prepend_keymap]]
on   = [ "c", "a", "u" ]
run  = "plugin compress -phl"
desc = "Archive selected files (password+header+level)"

# Seeking

# [[mgr.prepend_keymap]]
# on = "<Left>"
# run = "plugin duckdb -1"
# desc = "Scroll one column to the left"

# [[mgr.prepend_keymap]]
# on = "<Right>"
# run = "plugin duckdb +1"
# desc = "Scroll one column to the right"

[[mgr.prepend_keymap]]
on = "<Down>"
run = "seek 1"
desc = "Seek up 5 units in the preview"

[[mgr.prepend_keymap]]
on = "<Up>"
run = "seek -1"
desc = "Seek down 5 units in the preview"

# Navigation

[[mgr.prepend_keymap]]
on = [ "g", "r" ]
run = 'shell -- ya emit cd "$(git rev-parse --show-toplevel)"'
desc = "Go to git repository root"

[[mgr.prepend_keymap]]
on = "h"
run = ["escape --filter", "leave"]
desc = "Go to parent directory"

[[mgr.prepend_keymap]]
on = "l"
run = ["escape --filter", "enter"]
desc = "Enter directory or open file"

[[mgr.prepend_keymap]]
on = "<C-o>"
run = "back"
desc = "Back to previous directory" 

[[mgr.prepend_keymap]]
on = "<C-i>"
run = "forward"
desc = "Forward to next directory"

[[mgr.prepend_keymap]]
on = "<Space>"
run = "tab_switch 1 --relative"
desc = "Switch to next tab"

[[mgr.prepend_keymap]]
on = "q"
run = "close"
desc = "Close the current tab, or quit if it's last"

# Visual Mode

[[mgr.prepend_keymap]]
on = "<S-j>"
run = [ "toggle", "arrow next" ]
desc = "Toggle the current selection state"

[[mgr.prepend_keymap]]
on = "<S-k>"
run = [ "toggle", "arrow prev" ]
desc = "Toggle the current selection state"


[[mgr.prepend_keymap]]
on = "<Esc>"
run = "close"
desc = "Close"

[[input.prepend_keymap]]
on = "<Esc>"
run = "close"
desc = "Close"

[[help.prepend_keymap]]
on = "<Esc>"
run = "close"
desc = "Close"

# Images
# [[mgr.prepend_keymap]]
# on   = "+"
# run  = "plugin zoom 1"
# desc = "Zoom in hovered file"

# [[mgr.prepend_keymap]]
# on   = "-"
# run  = "plugin zoom -1"
# desc = "Zoom out hovered file"
