[[mgr.prepend_keymap]]
on   = [ "m", "a" ]
run  = "plugin archivemount mount"
desc = "Mount selected archive"

[[mgr.prepend_keymap]]
on   = [ "m", "u" ]
run  = "plugin archivemount unmount"
desc = "Unmount and save changes to original archive"

[[mgr.prepend_keymap]]
on   = [ "c", "m" ]
run  = "plugin chmod"
desc = "Chmod on selected files"

[[mgr.prepend_keymap]]
on  = "M"
run = "plugin mount"
