[mgr]
show_hidden = true
show_symlink = true
sort_sensitive = true
ratio = [1, 3, 4]

[plugin]
prepend_previewers = [
  # { mime = "image/{jpeg,png,webp}", run  = "zoom 5" }
{ mime = "{audio,video,image}/*", run = "mediainfo"},
{ mime = "application/subrip", run = "mediainfo" },
{ mime = "application/postscript", run = "mediainfo" },
{ name = "*.tar*", run = 'piper --format=plain -- tar tf "$1"' },
{ name = "*.tsv", run  = 'piper -- duckdb -box -c "select * from file;" "$1"' },
{ name = "*.parquet", run  = 'piper -- duckdb -box -c "select * from file;" "$1"' },
{ name = "*.xlsx", run  = 'piper -- duckdb -box -c "select * from file;" "$1"' },
{ name = "*.db", run  = 'piper -- duckdb -box -c ".tables" "$1"' },
{ name = "*.duckdb", run  = 'piper -- duckdb -box -c ".tables" "$1"' },
{ name = "*.csv", run  = 'piper -- rich-cli -j --left --panel=rounded --guides --line-numbers --force-terminal "$1"' },
{ name = "*.ipynb", run  = 'piper -- rich-cli -j --left --panel=rounded --guides --line-numbers --force-terminal "$1"' },
{ name = "*.md", run  = 'piper -- rich-cli -j --left --panel=rounded --guides --line-numbers --force-terminal "$1"' },
{ name = "*.rst", run  = 'piper -- rich-cli -j --left --panel=rounded --guides --line-numbers --force-terminal "$1"' },

{ name = "*.json", run  = 'piper -- cat "$1" | jq -C' },
]

prepend_preloaders = [
{ mime = "{audio,video,image}/*", run = "mediainfo" },
{ mime = "application/subrip", run = "mediainfo" },
{ mime = "application/postscript", run = "mediainfo" },
]

[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"

[tasks]
image_alloc      = 1073741824        # = 1024*1024*1024 = 1024MB
